* {
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 400;
}

html {
    min-height: 100vh;
}

body {
    padding: 0;
    margin: 0;
}
main {
    min-height: 100vh;
}


.p-0 {
    padding: 0;
}

.main-page {
    position: relative;
    min-height: 100vh;
    background: #F9FAFE;
    overflow: hidden;
    z-index: 1;
}

.main-page .ellipse {
    width: 1330px;
    height: 1330px;
    position: absolute;
    top: -140px;
    right: -32%;
    border: 136px solid rgba(206, 225, 249, 0.3);
    border-radius: 50%;
    display: block;
    z-index: 0;
}

.header {
    padding: 16px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.header.active {
    box-shadow: 1px 2px 6px 0px rgba(234, 239, 239, 0.75);
}

.header .top-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}

.header .top-menu .top-menu-item {
    display: inline-block;
}

.header .top-menu .top-menu-item a {
    text-decoration: none;
    padding: 0 24px;
    color: var(--font-color-1);
    font-size: 16px;
    display: block;
}

.header .top-phone-link {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--font-color-1);
    text-decoration: none;
    padding: 10px 5px;
    transition: 0.15s all linear;
    font-size: 16px;
}

.header .top-phone-link svg {
    margin-right: 16px;
}

.header .top-phone-link:hover {
    background: #e2edfb;
    border-radius: 4px;
}

.header .top-menu .top-menu-item a:hover {
    text-decoration: underline;
}

.first-section {
    margin-top: 84px;
    position: relative;
    padding: 68px 0 31px 0;
}

.first-section .decorative-figure {
    position: absolute;
    top: 162px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: auto;
}

.main-page .first-section .title {
    font-weight: 700;
    font-size: 72px;
    line-height: 88px;
    margin: 0 0 40px 0;
    color: var(--font-color-3);
}

.main-page .first-section .description {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    margin: 0;
}

.second-sections .banner-decoration-block {
    position: relative;
}

.second-sections .banner-decoration {
    position: absolute;
    top: 23px;
    right: 31px;
    z-index: 5;
}

.second-sections .form-block {
    z-index: 10;
}

.second-sections .form {
    background: var(--background-color-white);
    border: 1px solid var(--border-color-1);
    border-radius: 5px;
    z-index: 5;
}

.second-sections .form .input-wrap {
    border-right: 1px solid var(--border-color-1);
}

.second-sections .form .name-block,
.second-sections .form .phone-block {
    padding: 16px 0 6px 16px;
    display: flex;
    flex-direction: column;
}

.second-sections .form .name-block label,
.second-sections .form .phone-block label {
    font-size: 14px;
    color: var(--font-color-2);
    line-height: 17px;
}

.second-sections .form .name-block input,
.second-sections .form .phone-block input {
    padding: 8px 0;
    border: none;
    font-size: 16px;
    line-height: 20px;
    color: var(--font-color-1);
}

.second-sections .send-btn-wrap {
    display: flex;
    justify-content: flex-end;
}

.second-sections .send {
    width: 100%;
    max-width: 204px;
    height: 100%;
    border: none;
    box-shadow: none;
    background: var(--button-color-1);
    color: var(--font-color-white);
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    border-radius: 0px 4px 4px 0px;
}

.second-sections .banner-block {
    margin-top: -28px;
    z-index: 4;
}

.second-sections .banner-block img {
    z-index: 4;
    width: 100%;
}

.third-sections {
    padding: 56px 0 72px 0;
}

.third-sections .sub-title {
    font-size: 20px;
    line-height: 24px;
    color: var(--font-color-2);
}

.third-sections .brands {
    display: flex;
    justify-content: flex-end;
}

.third-sections .brand {
    height: 45px;
    margin-right: 50px;
    cursor: pointer;
    transition: 0.15s all linear;
}

.third-sections .brand:last-child {
    margin-right: 0;
}

.third-sections .brand_1 {
    background-image: url("../img/brands/brand_1.svg");
    background-repeat: no-repeat;
    width: 118px;
}

.third-sections .brand_1:hover {
    background-image: url("../img/brands/brand_hover_1.svg");
}

.third-sections .brand_2 {
    background-image: url("../img/brands/brand_2.svg");
    background-repeat: no-repeat;
    width: 60px;
}

.third-sections .brand_2:hover {
    background-image: url("../img/brands/brand_hover_2.svg");
}

.third-sections .brand_3 {
    background-image: url("../img/brands/brand_3.svg");
    background-repeat: no-repeat;
    width: 182px;
}

.third-sections .brand_3:hover {
    background-image: url("../img/brands/brand_hover_3.svg");
}

.fourth-sections {
    padding-bottom: 40px;
}

.fourth-sections .item {
    text-align: center;
}

.fourth-sections .item .image-wrap {
    position: relative;
    width: 120px;
    height: 120px;
    background: #FFFFFF;
    box-shadow: 16px 20px 36px rgba(0, 0, 0, 0.07);
    border-radius: 50%;
    margin: 0 auto;
}

.fourth-sections .item .image-wrap img {
    position: absolute;
    top: 28%;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.fourth-sections .item-2 {
    margin-top: 52px;
}

.fourth-sections .item .description {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: var(--font-color-1);
    margin: 32px 0;
}

.five-sections {
    padding-bottom: 40px;
}

.five-sections .title {
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    color: var(--font-color-3);
    margin: 0 0 32px 0;
}

.five-sections .filter-block {
    box-shadow: 0px 8px 16px rgba(47, 63, 82, 0.08), 0px 0px 1px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    background: #EDEDF6;
    padding: 4px;
    margin-bottom: 32px;
}

.five-sections .filter-block .filter-btn {
    width: 100%;
    height: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: var(--font-color-4);
    box-shadow: none;
    border: none;
    background: inherit;
    cursor: pointer;
    transition: 0.15s all linear;
}

.five-sections .filter-block .filter-btn:hover {
    background: var(--backgrond-hover-color-2);
    box-shadow: 0px 8px 16px rgba(47, 63, 82, 0.08), 0px 0px 1px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
}

.five-sections .filter-block .filter-btn.active {
    background: var(--background-color-white);
    box-shadow: 0px 8px 16px rgba(47, 63, 82, 0.08), 0px 0px 1px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
}

.products-wrap .product-item {
    background: var(--background-color-white);
    box-shadow: 0px 8px 16px rgba(47, 63, 82, 0.08), 0px 0px 1px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    height: 590px;
    cursor: pointer;
}

.products-wrap .product-item:hover {
    box-shadow: 0px 8px 20px rgba(47, 63, 82, 0.16), 0px 0px 1px rgba(0, 0, 0, 0.12);
}

.products-wrap .product-item .product-image {
    height: 100%;
    max-height: 208px;
    background-repeat: no-repeat;
}

.products-wrap .product-item .info-block {
    padding: 16px 24px;
}

.products-wrap .product-item .info-block .product-name {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 10px;
    color: var(--product-color-1);
}

.products-wrap .product-item .info-block .info-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--product-color-2);
}

.products-wrap .product-item .info-block .info-item:last-child {
    margin-bottom: 0;
}

.products-wrap .product-item .delivery-info {
    padding: 0 24px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.products-wrap .product-item .delivery-info .delivery-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.products-wrap .product-item .delivery-info .delivery-block .delivery-country {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.products-wrap .product-item .delivery-info .delivery-block .delivery-country  span {
    font-size: 12px;
    line-height: 17px;
    font-weight: 400;
    color: var(--font-color-1);
}

.products-wrap .product-item .delivery-info .delivery-block .delivery-country img {
    margin-left: 4px;
}

.products-wrap .product-item .delivery-info .delivery-block svg {
    margin-right: 12px;
}

.products-wrap .product-item .more-block {
    padding: 0 24px 16px;
    text-align: center;
    border-bottom: 1px solid var(--border-color-2);
}
.products-wrap .product-item .more-block a {
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--product-color-3);
    transition: 0.15s all linear;
}

.products-wrap .product-item .more-block a:hover {
    text-decoration: underline;
    color: var(--font-hover-color-1);
}

.products-wrap .product-item .buy-widget {
    padding: 14px 24px 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.products-wrap .product-item .buy-widget .price {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: var(--product-color-3);
}

.products-wrap .product-item .buy-widget .buy-btn {
    width: 139px;
    height: 44px;
    border-radius: 5px;
    background: var(--button-color-1);
    color: var(--font-color-white);
    box-shadow: none;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.15s all linear;
}

.products-wrap .product-item .buy-widget .buy-btn:hover {
    background: var(--button-hover-color-1);
}

.sixth-sections {
    padding: 40px 0 52px 0;
}
.sixth-sections .title {
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    color: var(--font-color-3);
    margin: 0 0 16px;
}
.sixth-sections .description {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: var(--font-color-1);
    padding-bottom: 40px;
}

.sixth-sections .task-block .task-item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 24px;
}

.sixth-sections .task-block .task-item .number-wrap {
    width: 48px;
    height: 48px;
    box-shadow: 0px 8px 16px rgba(47, 63, 82, 0.08), 0px 0px 1px rgba(0, 0, 0, 0.12);
    background: var(--background-color-white);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
}

.sixth-sections .task-block .task-item .number-wrap .number {
    text-align: center;
    font-weight: 500;
    font-size: 29px;
    line-height: 35px;
    color: var(--font-color-5);
}

.sixth-sections .task-block .task-item .info .task-title {
    margin: 0 0 4px 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: var(--font-color-4);
}

.sixth-sections .task-block .task-item .info .task-description {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: var(--font-color-1);
}
.faq-block {
    margin: 16px 0 0;
}

.faq-block .faq-item {
    margin-bottom: 12px;
    box-shadow: 0px 8px 16px rgba(47, 63, 82, 0.08), 0px 0px 1px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    background: var(--background-color-white);
    min-height: 72px;
}

.faq-block .faq-item .faq-btn {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 30px 16px 24px;
    background: inherit;
    border: none;
    box-shadow: none;
}

.faq-block .faq-item .faq-btn:hover,
.faq-block .faq-item .faq-btn:active {
    background: inherit;
    border: none;
    box-shadow: none;
    outline: none;
}

.faq-block .faq-item .collapse.show:focus {
    background: inherit;
    border: none;
    box-shadow: none;
    outline: none;
}

.faq-block .faq-item .faq-btn span {
    color: var(--font-color-4);
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.faq-block .faq-item .card {
    border: none;
}

.faq-block .faq-item .card-body {
    color: var(--font-color-3);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding-top: 0;
}

.contacts-sections .title {
    margin: 0 0 24px 0;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    color: var(--font-color-4);
}

.contacts-sections {
    padding-bottom: 64px;
}

.contacts-sections .contacts-block {
    margin-top: 24px;
}

.contacts-sections .contacts-block .item {
    margin: 0 0 32px 0;
}

.contacts-sections .contacts-block .item .sub-title {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--font-color-3);
}

.contacts-sections .contacts-block .item p {
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: var(--font-color-1);
}

.contacts-sections .map-wrap {
    background: #F0F3F7;
    width: 100%;
}
